@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-200;
  }
}

@layer utilities {
  .grid-bg {
    background-size: 11px 11px;
    background-position: center center;
    background-image: linear-gradient(
        to right,
        rgba(128, 128, 128, 0.15) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(128, 128, 128, 0.15) 1px, transparent 1px);
  }

  .dotted-bg {
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      rgba(255, 255, 255, 0.178) 1px
    );
    background-size: 4px 4px;
  }
}
